.dot {
  position: absolute;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  background-color: blue;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.clickContainer {
  z-index: 1;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  width: 300px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}

.commentContainer {
  z-index: 1;
  position: absolute;
  background-color: white;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 4px 8px;
  width: 300px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  animation: fadeIn 0.3s ease-out 1 forwards;
  display: flex;
  flex-direction: column;
  
  min-height: 100px;
  max-height: 350px;
}

.closeButtonStyle {
  margin: 0 0 2px auto;

  background-color: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  padding: 0;
};

.line {
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.42);
}

.commentTitle {
  margin: 6px ;
}

.comment {
  word-break: break-all;
}