.form {
  z-index: 10;
  display: flex;
  align-items: center;
  background-color: aliceblue;
  padding: 6px;

  textarea {
    width: 100%;
    border: none;
    resize: none;
    background-color: transparent;
    outline: none;
    font-size: 16px;
    box-sizing: border-box;
    overflow-y: auto;
    min-height: 40px;

    &::-webkit-scrollbar {
      display: none;
    }
  }
}

.addComment {
  width: 30px;
  height: 30px;
  border-radius: 100%;
  border: 1px solid gray;
  cursor: pointer;
}